.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopcategory-indexSort{
    display: flex;
    flex-direction: column;
    margin: 0px 130px 0 130px;
    justify-content: space-between;
    align-items:center;
    /* border: 1px solid red; */
    
}

.space-even{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
    
}

.shopcategory-indexSort p span{
    font-weight: 600;
}

.shopcategory-products{
    /* border: 1px solid red; */
    margin: 30px 180px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 60px;

}